{% extends "base.html" %}
{% block content %}
	<table class = "table">
	<thead>
		<th>Tops stocks</th>
		<th>Flops stocks</th>
	</thead>	
	<td>
		
	<!--			<a href="{{ url_for('index', stockex = 'OMXSE') }}">OMXSE</a></td>
				<a href="{{ url_for('index', stockex = 'OMXFI') }}">OMXFI</a></td>
				<a href="{{ url_for('index', stockex = 'OMXNO') }}">OMXNO</a></td>
				<a href="{{ url_for('index', stockex = 'NYSE') }}">NYSE</a></td> -->

		<table class="table table-condensed">
		<thead>
			<th>Name</th>
			<th>MW</th>
			<th>Price</th>
			<th>Change</th>
		</thead>
		{% for row in tops %}
			{% if row.moneywave < 20 %}
			{% set buyAction  = "success" %}
			{% elif row.moneywave > 80 %}
			{% set buyAction = "danger" %}
			{% else %}
			{% set buyAction = "info" %}
			{% endif %}
			<tr class = {{ buyAction }}>
				<td><a href="{{ url_for('grapher', ticker = row.ticker) }}">{{ row.name }}</a></td>
				<td>{{ '%0.2f' % row.moneywave }}</td>
				<td>{{ '%0.2f' % row.price }} {{ row.currency }}</td>
				{% set priceChange = (((row.price/row.lastPrice)-1)*100) %}
				<td>
				{% if priceChange < 0 %}
				<p class = "text-danger">
				{% elif priceChange > 0 %}
				<p class = "text-success">
				{% else %}
				<p>
				{% endif %}
				{{ '%0.2f' % priceChange }} %</p></td>
			</tr>
		{% endfor %}
		</table>
	</td>
	<td>
		<table class="table table-condensed">
		<thead>
			<th>Name</th>
			<th>MW</th>
			<th>Price</th>
			<th>Change</th>
		</thead>
		{% for row in flops %}
			{% if row.moneywave < 20 %}
			{% set buyAction  = "success" %}
			{% elif row.moneywave > 80 %}
			{% set buyAction = "danger" %}
			{% else %}
			{% set buyAction = "info" %}
			{% endif %}
			<tr class = {{ buyAction }}>
				<td><a href="{{ url_for('grapher', ticker = row.ticker) }}">{{ row.name }}</a></td>
				<td>{{ '%0.2f' % row.moneywave }}</td>
				<td>{{ '%0.2f' % row.price }} {{ row.currency }}</td>
				{% set priceChange = (((row.price/row.lastPrice)-1)*100) %}
				<td>
				{% if priceChange < 0 %}
				<p class = "text-danger">
				{% elif priceChange > 0 %}
				<p class = "text-success">
				{% else %}
				<p>
				{% endif %}
				{{ '%0.2f' % priceChange }} %</p></td>
			</tr>
		{% endfor %}
		</table>
	</td>
	</table>
	<table  class="table table-condensed">
        	<tr>
                	<td>Percentage of stocks above 50 days average</td>
                	<td>{{ '%0.2f' % stocksAboveEma50 }} %</td>
        	</tr>
	</table>

{% endblock %}
